<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Артемьев Дмитрий</title>
    <style>
        .center{
            text-align: center;
        }
        .block{
            width: 500px;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 15px;
            overflow: hidden;
        .img {
            width: auto;
            height: 100%;
}
        }
    </style>
</head>
<body bgcolor="#d3d3d3">
<div class="center">
<h1>Артемьев Дмитрий</h1>
</div>
<div class="block">
    <img class="img" src="https://stihi.ru/pics/2015/11/11/1012.jpg"   alt="Дмитрий">
</div>
<div>
    <p>Ссылка на мой сайт по системному администрированию: <a href="https://www.sysadmin911.ru/">sysadmin911.ru</a></p>
</div>
<div>
    <h2 class="center">Описание сайта</h2>
    <p>
        Мой сайт содержит инструкции по <strong>системному администрированию</strong>,<br>
        содержит такие разделы как:
    </p>
    <li>
       <em>Hardware</em>
    </li>
    <li>
        <em>Windows</em>
    </li>
    <li>
        <em>Linux</em>
    </li>
    <li>
        <em>Software</em>
    </li>
    <li>
        <em>Network</em>
    </li>
    <li>
        <em>Periphery</em>
    </li>
    <p>
        Главные разделы - это <mark>Windows</mark>,<mark>Software</mark>, <mark>Network</mark>.
    </p>
</div>
</body>
</html>